
.clickable {
  cursor: pointer;
}

.logo-brand {
  font-family: 'Marck Script', cursive;
  word-spacing: -8px;
}

label {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}


textarea {
  resize: none;
}


.app-page-title {
  display: flex;
  align-items: center;
  border-bottom: $border-width solid $border-color !important;
  margin-bottom: 1rem;

  h1 {
    font-size: 1.8rem;
  }

  .page-actions {
    margin-left: auto;
  }
}


/* Remove spinners for number webkit */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove spinners for number mozilla */
input[type=number] {
  -moz-appearance: textfield;
}


/* Search CSS */
.search_wrapper {
  flex: 1 0 auto;

  .custom-search {
    width: 100%;
    border: 0;
    padding-left: .2rem;

    &:disabled {
      background: unset;
      cursor: not-allowed;
    }
  }
}
