<div class="modal-header">
  <div class="modal-title">Create Shift</div>
  <fa-icon (click)="dismiss()" [icon]="faTimes"></fa-icon>
</div>

<div class="modal-body">
  <div class="row">
    <div class="col-12 col-md-6 mx-auto">
      Shift Date:
      <div class="input-group input-group-sm">
        <input #start_date="ngbDatepicker" (click)="start_date.open()"
               (ngModelChange)="shiftChange($event, selectedShiftTiming)"
               [(ngModel)]="shiftDate"
               [maxDate]="maxDate" [readonly]="true" class="form-control form-control-sm"
               id="start_date" ngbDatepicker title="Shift Start Date" type="text">
        <div class="input-group-append">
          <button (click)="start_date.toggle()" class="btn btn-outline-secondary" type="button">
            <fa-icon [icon]="faCalender"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-md-6 mx-auto">
      Select Shift:
      <select (ngModelChange)="shiftChange(shiftDate, $event)" [(ngModel)]="selectedShiftTiming"
              class="custom-select custom-select-sm" title="Shift Timing">
        <option *ngFor="let shift of SHIFT_TIMINGS" [ngValue]="shift">
          {{shift.display}} ({{shift.display2}})
        </option>
      </select>
    </div>
  </div>

  <div class="col-12 mt-4">
    <div> Shift Start: {{shiftView.startTime|date: 'dd/MM/yyyy hh:mm a'}} </div>
    <div> Shift End: {{shiftView.endTime|date: 'dd/MM/yyyy hh:mm a'}} </div>
  </div>
</div>

<div class="modal-footer">
  <button (click)="createShift()" *ngIf="!isCreating" class="btn btn-sm btn-primary ml-auto" type="submit">
    <fa-icon [icon]="faPlusSquare"></fa-icon>
    Create
  </button>
  <fa-icon *ngIf="isCreating" [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
</div>
