<div class="modal-header">
  <h4><span class="text-capitalize">Change Password for {{user.name}}</span></h4>
</div>
<div class="modal-body">
  <form (validSubmit)="updatePassword()" *ngIf="passwordForm" [formGroup]="passwordForm" id="passwordForm">
    <div class="form-group">
      <label class="col-form-label col-form-label-sm" for="password">Password</label>
      <input class="form-control form-control-sm" formControlName="password" id="password" type="password">
    </div>

    <div class="form-group">
      <label class="col-form-label col-form-label-sm" for="confirm_password">Confirm Password</label>
      <input class="form-control form-control-sm" formControlName="confirm_password" id="confirm_password"
             type="password">
    </div>

    <div *ngIf="matchPasswordError" class="text-danger text-center my-4 small">
      New Password and Confirm Password do not match
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-sm btn-primary" form="passwordForm"><span class="text-capitalize">Change Password</span>
  </button>
</div>
