<div class="sidebar h-100 py-2">
  <ul class="sidebar__nav_list">
    <li class="sidebar__nav_item">
      <a [routerLink]="['/product']" class="sidebar__nav_link" routerLinkActive="active">
        <fa-icon [icon]="faShoppingCart"></fa-icon>&nbsp;
        <span class="d-none d-md-inline">Products</span>
      </a>
    </li>
    <li class="sidebar__nav_item">
      <a [routerLink]="['/shift']" class="sidebar__nav_link" routerLinkActive="active">
        <fa-icon [icon]="faPenAlt"></fa-icon>&nbsp;
        <span class="d-none d-md-inline">Shifts</span>
      </a>

      <ul class="d-none d-md-block">
        <li class="sidebar__nav_sub_item">
          <a [queryParams]="{status: 'ALL'}" [routerLink]="['/shift']" class="sidebar__nav_sub_link"
             routerLinkActive="active">All</a>
        </li>
        <li class="sidebar__nav_sub_item">
          <a [queryParams]="{status: 'NEW'}" [routerLink]="['/shift']" class="sidebar__nav_sub_link"
             routerLinkActive="active">Open</a>
        </li>
        <li class="sidebar__nav_sub_item">
          <a [queryParams]="{status: 'WAITING_FOR_APPROVAL'}" [routerLink]="['/shift']" class="sidebar__nav_sub_link"
             routerLinkActive="active">
            Waiting for Approval
          </a>
        </li>
        <li class="sidebar__nav_sub_item">
          <a [queryParams]="{status: 'APPROVED'}" [routerLink]="['/shift']" class="sidebar__nav_sub_link"
             routerLinkActive="active">Approved</a>
        </li>
      </ul>
    </li>
    <li *ngIf="viewMargin" class="sidebar__nav_item">
      <a [routerLink]="['/margin']" class="sidebar__nav_link" routerLinkActive="active">
        <fa-icon [icon]="faFileExcel"></fa-icon>&nbsp;
        <span class="d-none d-md-inline">Margin</span>
      </a>
    </li>
  </ul>
</div>
