<div class="app-page-title align-items-center">
  <h3>{{product?.name}}</h3>
  <div class="ml-auto">
    <button *ngIf="allowEdit" [routerLink]="['/product', product.id, 'edit']" class="btn btn-sm btn-primary">
      <fa-icon [icon]="faEdit"></fa-icon>
      Edit
    </button>
  </div>
</div>


<div *ngIf="isLoading" class="mt-4 text-center">
  <fa-icon [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
</div>
<div *ngIf="!isLoading" class="mx-4">
  <div class="row">
    <div class="col-12 col-sm-4">
      <div *ngIf="product" class="card h-100">
        <div class="card-header">
          <div *ngIf="product.image" class="text-center">
            <img [alt]="product.name" [src]="product.image" class="product-img-custom">
          </div>
          <div *ngIf="!product.image">
            Product Details
          </div>
        </div>
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-12 col-sm-6"> Category:</div>
            <div class="col-12 col-sm-6"> {{product.category}}</div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-sm-6"> Landing Price:</div>
            <div class="col-12 col-sm-6"> {{product.landing_price|inr}}</div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-sm-6"> Price(MRP):</div>
            <div class="col-12 col-sm-6"> {{product.price|inr}}</div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-sm-6"> Shell margin:</div>
            <div class="col-12 col-sm-6"> {{product.distributor_margin}}%</div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-sm-6"> Retailer margin:</div>
            <div class="col-12 col-sm-6"> {{product.retailer_margin}}%</div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-sm-6 font-weight-bold"> Current Stock:</div>
            <div class="col-12 col-sm-6 font-weight-bold"> {{product.stock}}</div>
          </div>

          <div class="row mb-2">
            <div class="col-12 col-sm-6"> Barcode Entry:</div>
            <div class="col-12 col-sm-6"> {{product.barcode_entry}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 mt-4 mt-sm-0">
      <div class="card h-100">
        <div class="card-header d-block d-sm-flex justify-content-between">
          <div>Stock Changes</div>
          <div *ngIf="allowStockChange" class="btn-group btn-group-sm">
            <button (click)="addRemoveStock('add')" class="btn btn-sm btn-outline-primary">Add Stock</button>
            <button (click)="addRemoveStock('remove')" class="btn btn-sm btn-outline-primary">Remove Stock</button>
          </div>
        </div>
        <div class="card-body p-0">
          <div *ngIf="productStockChangeLoading" class="text-center my-2">
            <fa-icon [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
          </div>
          <table *ngIf="!productStockChangeLoading" class="table table-striped table-sm mb-0">
            <thead>
            <tr>
              <td class="border-top-0">User</td>
              <td class="border-top-0">Date</td>
              <td class="border-top-0">Stock Change</td>
              <td class="border-top-0">Reason</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let psc of productStockChanges">
              <td>{{psc.user_name}}</td>
              <td>{{psc.created|date: 'dd/MM/yyyy hh:mm a'}}</td>
              <td>{{psc.value}}</td>
              <td>{{psc.changeType}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer d-flex">
          <ngb-pagination
            (pageChange)="getProductStockChanges($event)"
            [collectionSize]="productStockChangePaginationHelper.totalSize"
            [directionLinks]="true"
            [disabled]="productStockChangeLoading"
            [maxSize]="5"
            [pageSize]="productStockChangePaginationHelper.pageSize"
            [page]="productStockChangePaginationHelper.currentPage"
            [size]="'sm'"
            class="ml-auto"></ngb-pagination>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12 col-sm-5">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div>Upcoming Expiry Dates</div>
          <button (click)="addExpiryDate()" class="btn btn-sm btn-outline-primary">Add Date</button>
        </div>
        <div class="card-body p-0">
          <div *ngIf="productExpiryLoading" class="text-center my-2">
            <fa-icon [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
          </div>
          <table *ngIf="!productExpiryLoading" class="table table-striped table-sm mb-0">
            <thead>
            <tr>
              <td class="border-top-0">User</td>
              <td class="border-top-0">Expiry Date</td>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ped of productExpiryDates">
              <td>{{ped.user_name}}</td>
              <td>{{ped.datetime|date: 'dd/MM/yyyy'}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer d-flex">
          <ngb-pagination
            (pageChange)="getProductExpiryDates($event)"
            [collectionSize]="productExpiryDatePaginationHelper.totalSize"
            [directionLinks]="true"
            [disabled]="productExpiryLoading"
            [maxSize]="5"
            [pageSize]="productExpiryDatePaginationHelper.pageSize"
            [page]="productExpiryDatePaginationHelper.currentPage"
            [size]="'sm'"
            class="ml-auto"></ngb-pagination>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-7 mt-4 mt-sm-0 d-none">
      <div class="card h-100">
        <div class="card-body">
          Last 7 Day Sales Data for Product
        </div>
      </div>
    </div>
  </div>
</div>
