<div class="app-page-title align-items-center">
  <h3>{{mode}} Product/Service</h3>
  <div class="ml-auto">
    <button (click)="cancel()" class="btn btn-sm btn-danger">
      <fa-icon [icon]="faTimes"></fa-icon>
      Cancel
    </button>
    <button class="btn btn-sm btn-primary ml-2" form="createProductForm" type="submit">
      <fa-icon [icon]="mode === 'create' ? faPlusSquare: faEdit"></fa-icon>
      {{mode}}
    </button>
  </div>
</div>

<div class="card formWrapper">
  <div class="card-body">
    <div *ngIf="initialLoading" class="text-center">
      <fa-icon [icon]="faSpinner" [spin]="true" size="2x"></fa-icon>
    </div>
    <form (validSubmit)="createProduct()" *ngIf="productForm && !initialLoading"
          [formGroup]="productForm" id="createProductForm">
      <div class="form-group">
        <label class="col-form-label col-form-label-sm" for="product_name">Name</label>
        <input class="form-control form-control-sm" formControlName="name" id="product_name" type="text">
      </div>

      <div class="form-group">
        <label class="col-form-label col-form-label-sm" for="category">Category</label>
        <input class="form-control form-control-sm" formControlName="category" id="category" type="text">
      </div>

      <div class="form-group">
        <label class="col-form-label col-form-label-sm" for="price">Price</label>
        <input class="form-control form-control-sm" formControlName="price" id="price" type="number">
      </div>

      <div class="row">
        <div class="form-group col-12 col-sm-6">
          <label class="col-form-label col-form-label-sm" for="distributor_margin">Shell Margin</label>
          <input class="form-control form-control-sm" formControlName="distributor_margin" id="distributor_margin"
                 type="number">
        </div>
        <div class="form-group col-12 col-sm-6">
          <label class="col-form-label col-form-label-sm" for="retailer_margin">Retailer Margin</label>
          <input class="form-control form-control-sm" formControlName="retailer_margin" id="retailer_margin"
                 type="number">
        </div>
      </div>

      <div class="row">
        <div class="form-group col-12 col-sm-6">
          <label class="col-form-label col-form-label-sm" for="stock">Stock</label>
          <input class="form-control form-control-sm" formControlName="stock" id="stock"
                 type="number">
        </div>
        <div class="form-group col-12 col-sm-6">
          <label class="col-form-label col-form-label-sm" for="barcode_entry">Barcode entry</label>
          <input class="form-control form-control-sm" formControlName="barcode_entry" id="barcode_entry"
                 type="text">
        </div>
      </div>
    </form>
  </div>

</div>
