/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Source+Sans+Pro:wght@400;700&display=swap');

@import "app/styles/custom-bootstrap";
@import "app/styles/custom";
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
}

h1 {
  font-weight: 900;
  font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Lato', sans-serif;
}
